body {
    padding-top: 100px;
    background-color: #ff7400;
}

.changepw-text {
    margin: 0 auto;
    max-width: 500px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 15px;
}

.changepw-text h3 {
    color: rgb(11, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    padding-bottom: 10px;
}

.changepw-text h4 {
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
    padding-bottom: 10px;
    max-width: 390px;
    margin: 0 auto;
}

.user-email {
    position: relative;
    width: 200%;
    height: 30px;
    margin: 0 auto;
    margin-left: 10%;
}

.click {
    position: relative;
    width: 60%;
    height: 50px;
    border: 1px solid;
    background: #ff4d00;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.click:hover {
    background-color: #F68B2B;
    color: white;
}

.container {
    text-align: center;
}

.icon {
    margin-left: 220px;
    color: green;
}
.form-control{
    margin-left: 25%;
    width: 160%;
}





