/* Modal styles */
.modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  }
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    margin-left: 35%;
    margin-top: 70px;
  }
 p{
    margin-top: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: sans-serif;
 }
  .modal-button{
    margin-left: 25px;
  }
  .modal-button .confirm{
    background-color: #ff7400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;    
  }
  .modal-button .confirm:hover {
    background-color: #bc3908;
  }
  
  /* Close button */
  .close {
    color: #888;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
  }
  
  /* Button styles */
  