{%block content%}
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link rel='stylesheet' href='https://unpkg.com/css.gg@2.0.0/icons/css/check-o.css'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap">
    <link rel="stylesheet"  href="/static/css/forgotpassword.css"/>
</head>

<body>
    <div class="container">
        <form class="changepw-text" action="/code" method="get" name="regForm" >             
            <h3 align="center">Forgot your password?</h3>
            <h4>If you have forgotten your password, please re-enter your email and we will send you an OTP code.</h4><br>
            <div class="col-md-6">
            <input type="text" name="user_email" class="form-control" placeholder="Email" id="user_email" required/>	
            </div>
            <br>

            <button name="send" id="send" class="click" >Send</button>     
                         
            <div class="sign-in"> <a href="/" onclick="root()">Sign In</a>
                <script>
                async function root() {
                const response = await fetch('/');
                const result = await response.text();
                window.location.href = '/';
                }
                </script>
        </form>
        <script src="https://smtpjs.com/v3/smtp.js"></script>
        <script src="/static/js/otp.js"></script>
    </div>
    {% endblock content%}